.azeret-mono{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.download-resume {
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.banner {
  background: url('assets/Hero-bg.png') no-repeat center center;
  background-size: cover;
  width: 1440;
  color: #fff;
  padding: 100px 20px;
  text-align: center;
}

.banner .avatar {
  width: 240.28px;
  border-radius: 50%;
}

.banner h1 {
  font-size: 2em;
  margin: 20px 0;
  color: #0D1321;
  /* width: 998px; */
}

.banner p {
  font-size: 1.2em;
  margin: 10px 0 20px;
  color: #0D1321;
  text-shadow: #000000;
  /* width: 998px; */
}

.contact-btn {
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

section {
  padding: 50px 20px;
  text-align: center;
}

.web-development, .my-current-target, .my-next-target {
  background: #f9f9f9;
  margin: 80px 97px;
  /* pad: 80px 97px; */
  color: #050608;
}
.webdev{
  

}
.web-contain{
  margin: 80px 97px;
}
.web-image{
  justify-content: space-between;
  width: 240px;
  height: 240;
  margin: auto;
  

}
.cards, .targets {
  display: grid;
  
}
.cardinside{
  margin: 48px ;
 
}

.card, .target {
  background: #fff;
  padding: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: auto;
  height: auto;
  display: flex;
  margin: 48px;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.card img, .target img {
  width: 100px;
  height: 100px;
}

.card-content, .target-content {
  flex: 1;
  margin-left: 20px;
}

.card h3, .target h3 {
  margin: 10px 0;
}

